/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:wght@300;400;500;700&display=swap');

/* Custom CSS */

:root {
    /* Colors */
    --primary-color: #2D25A0;
    --heading-color: #18191F;
    --btn-background: #E02C6D;
    --text-color: #6C6C6C;
    /* Fonts */
    --primary-font: 'Poppins', sans-serif;
    --footer-font: 'Niconne', cursive;
}


/* Utilities Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--primary-font);
    color: var(--text-color);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: block;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* font-family: 'Niconne', cursive; */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--heading-color);
}

p {
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--text-color);
}


/* Button */

.btn {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* Header Start*/

header {
    background-color: var(--primary-color);
    padding: 26px 0;
}

header .flex {
    align-items: center;
}

header nav {}

header nav ul {
    display: flex;
}

header nav ul li {}

header nav ul li {
    list-style: none;
    margin-right: 36px;
}

header nav ul li a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

header nav ul li a:hover {}

header button {
    padding: 13px 32px;
    color: #fff;
    background-color: var(--btn-background);
}

header button i {}

header button:hover {}


/* Header End*/


/* Banner Section Start */

.banner-section {
    background-color: var(--primary-color);
    padding: 70px 0;
}

.banner-section .flex {
    align-items: center;
}

.banner-content {
    flex-grow: 1;
}

.banner-content h1 {
    color: #fff;
    font-size: 4em;
    margin-bottom: 45px;
}

.banner-content button {
    padding: 13px 32px;
    color: #fff;
    background-color: var(--btn-background);
    display: flex;
    align-items: center;
}

.banner-content button i {
    margin-left: 10px;
}

.banner-images {
    flex-grow: 1;
}

.banner-images img {
    width: 650px;
}


/* Banner Section End */


/* Players Section Start */

.players-section {}

.players {
    display: grid;
    grid-template-columns: repear(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 70px 0;
}

.player {
    padding: 15px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.player img {
    margin-bottom: 20px;
}

.player h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.player p {
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
}


/* Players Section End */


/* Highlight Section Start */

.highlight-section {
    padding-bottom: 70px;
}

.highlight-section .flex {
    align-items: center;
}

.highlight-content {
    flex-grow: 1;
    padding-right: 30px;
}

.highlight-content h2 {
    font-size: 3em;
    width: 95%;
    line-height: 60px;
    margin-bottom: 15px;
}

.highlight-content p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 45px;
    width: 80%;
}

.highlight-content a {
    padding: 13px 32px;
    color: #fff;
    background-color: var(--btn-background);
    display: flex;
    align-items: center;
    display: inline-block;
}

.highlight-content a i {
    margin-left: 10px;
}

.highlight-image {
    flex-grow: 1;
}

.highlight-image img {
    padding-left: 30px;
}


/* Highlight Section End */


/* Newsletter Section Start */

.newsletter-section {}

.newsletter-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    align-items: center;
}

.newsletter-content h2 {
    font-size: 3em;
}

.newsletter-content p {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
}

.newsletter-content form {}

.newsletter-content form input[type="email"] {
    width: 68%;
    font-size: 16px;
}

.newsletter-content form input {
    border: none;
    background-color: #e7e7e7;
    padding: 13px 10px;
}

.newsletter-content form input[type="button"] {
    padding: 13px 32px;
    color: #fff;
    background-color: var(--btn-background);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.newsletter-content form input[type="button"]:hover {}

.newsletter-content form label {
    display: block;
    margin-top: 20px;
}

.newsletter-content form label input {
    margin-right: 10px;
}

.newsletter-content form label span {
    color: var(--btn-background);
}


/* Newsletter Section End */


/* Footer Start */

footer {
    padding: 70px 0;
}

.footer-top {
    display: flex;
    justify-content: center;
}

.footer-top img {}

.footer-top h3 {
    font-family: var(--footer-font);
    text-transform: lowercase;
    color: var(--primary-color);
    font-size: 4em;
    padding-right: 70px;
}

.social-icon {
    padding-top: 15px;
    padding-bottom: 30px;
}

.social-icon ul {
    display: flex;
    justify-content: center;
}

.social-icon ul li {
    list-style: none;
    margin: 0 15px;
}

.social-icon ul li a {
    height: 36px;
    width: 36px;
    display: block;
    text-align: center;
    background: #0b0d1717;
    font-size: 17px;
    color: #969BAB;
    line-height: 36px;
    border-radius: 50%;
}

.social-icon ul li a:hover {}

.social-icon ul li a i {}

.copyright {
    text-align: center;
}

.copyright p {
    font-weight: 500;
    font-size: 18px;
    color: var(--heading-color);
}


/* Footer End */

.practise-section {
    padding-bottom: 80px;
}

.practise-section h2 {
    font-size: 2em;
    width: 95%;
    line-height: 60px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--primary-color);
}

.practise-videoes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* display: flex; */
    gap: 15px;
    /* flex-flow: row wrap; */
    /* box-sizing: border-box; */
}

.practise-video {
    padding: 15px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
}

.practise-videoes iframe {
    max-width: 100%;
    width: 100%;
}

.practise-videoes h3 {
    padding: 15px 0;
    font-weight: 500;
    font-size: 22px;
}

.practise-video.video-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.practise-video.video-2 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.practise-video.video-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.practise-video.video-4 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.practise-video.video-5 {
    grid-column-start: 5;
    grid-column-end: 7;
}